:root {
  --dark: #112031;
  --light: #FEFBF3;
  --gray: #4e4e4e;
  --yellow: #FFB319;
  --blue: #3982b6;
  --white: #fff;
  --bg: radial-gradient( circle 580px at 5.2% 57.6%,  rgb(23 4 64) 0%, rgb(8 6 27) 92.5% );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--light);
  font-size: 16px;
  font-family: 'Odibee Sans', cursive;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}