:root {
  --dark: #112031;
  --light: #FEFBF3;
  --gray: #4e4e4e;
  --yellow: #FFB319;
  --blue: #3982b6;
  --white: #fff;
  --bg: linear-gradient( 102deg, rgb(17 2 34) 44.2%, rgb(40 0 53) 100.2% );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--light);
  font-size: 16px;
  font-family: 'Odibee Sans', cursive;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}